<section class="row d-flex justify-content-between p-3">
    <article class="col-sm-3 bg-light">
        <%= image_tag 'profile.png', class:"w-100" %>
    </article>
    <article class="col">
       <h3> I'm Mr. Robbot </h3>
       <p>
        Pariatur eu consectetur cillum cillum consectetur non irure in aliquip sit eiusmod eiusmod incididunt mollit. Ad voluptate tempor exercitation exercitation proident eu reprehenderit aliquip aliquip. Aute ut amet do cupidatat voluptate esse ea qui. Ad ea velit minim id magna commodo consequat aliquip aliqua et elit aliquip officia cupidatat. Irure voluptate adipisicing elit eu excepteur esse laboris ut et magna. Laborum aute eu reprehenderit sit officia ad occaecat voluptate voluptate fugiat mollit est.

Ipsum non ex incididunt amet velit occaecat in do. Excepteur duis labore sit est aliquip consectetur amet voluptate ullamco. Sunt ullamco sint laboris adipisicing commodo nostrud sint eiusmod sunt proident eiusmod. Aute labore sunt in ex ea ex Lorem anim incididunt dolor culpa nisi pariatur.

Pariatur nisi eiusmod esse ut nisi et cillum nisi dolore labore aliqua id amet nisi. Aute quis fugiat qui ullamco sit sunt exercitation Lorem mollit officia eiusmod elit. Irure id eu amet excepteur sit enim irure. Incididunt id non aute qui nisi dolor id ad quis cupidatat culpa elit.

Consequat adipisicing ad nostrud in non quis laborum occaecat nulla. Pariatur culpa eu consequat minim nulla ut. Deserunt est consequat consectetur exercitation do do cillum cupidatat mollit pariatur ex qui deserunt. Incididunt Lorem fugiat deserunt officia tempor non officia excepteur anim fugiat ex ut est. Veniam labore cupidatat excepteur magna id consectetur tempor dolore eu adipisicing eiusmod consectetur commodo.

Qui aliquip Lorem do excepteur Lorem nostrud eiusmod fugiat Lorem. Et dolore commodo eu aliqua laboris do elit laboris anim aliqua elit veniam fugiat est. Sint adipisicing laborum ullamco irure aliqua nostrud exercitation nulla et. Nisi veniam exercitation eiusmod adipisicing pariatur ipsum cillum et consectetur laboris est nulla incididunt enim. Eiusmod amet in in proident ea. Incididunt laborum est sint consequat.
       </p>
       <%= link_to  "Home", root_path, class:"btn btn-primary btn-sm" %>
    </article>
</section>