<h1>
  All Post
</h1>
<hr>

<% @posts.each do |post| %>
<div class="bg-light mb-5">
  <div class="card-body">
    <h2 class="text-center">
      <%= post.title %>
    </h2>
    <hr>
    <p class="badge badge-success"><%= time_ago_in_words(post.created_at) %></p>
    <br>
    <p>
      <%= truncate(post.body, length:200)%>
    </p>
    <%= link_to "Show", post_path(post), class:"btn btn-info btn-sm" %>
  </div>
</div>
<% end %>
